.nav {
  &-container {
    width: 100%;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
  }

  &-menu {
    display: flex;
    width: max-content;
    height: 10%;
    padding: 1% 5%;
    justify-content: center;
    background-color: #c0c0c0;
    color: #000;
  }

  &-button-group {
    margin: 0 5%;
  }
}